<section class="main">
    <div class="wrapper">
            <img class="logo" src="/public/icons/logo-ico-rvb.svg" alt="logo de whatsapp manager" >
            <h1 class="title">Bienvenue sur<br><span>Whatsapp Manager App</span></h1>
            <h4 class="description">Gerez efficacement et rapidement votre messagerie professionnelle whatsapp avec des outlis d'automatisation du traitement de taches longues et comples.</h4>
            <a class="cta" href="/whatsapp"><button class="btn cta">Connecter mon Whatsapp pour commencer</button></a>
    </div>
</section>