<section class="main">
    <div class="wrapper">
        <div class="qrcontainer">
            <p class="qrcontainer-text">Scanner le code qr pour connecter votre compte whatsapp</p>
            <!-- <canvas class="qrcontainer-code" id="qrcodecanvas" width="200px" height="200px"></canvas> -->
            <img class="qrcontainer-code" id="qrcodeimg" src="#" alt="whatsapp connection qrcode">
            <!-- <div class="qrcontainer-code" id="qrcodediv"></div> -->
        </div>
    </div>
</section>

<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode/1.4.4/qrcode.js"
    integrity="sha512-oxrVyBhqnzQ0BzuM0A/6dEIk0alz0p4SpDRaWvtuUoarIc8rnL5lVniHG5Dp21MRFojcQcmKHjaskNXhSaUPPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    async function UpdateQRCode(qr, container) {
        const qrcode = GetStyledQRCode(qr);
        const rawdata = await qrcode.getRawData("png");
        const dataurl = URL.createObjectURL(rawdata);

        console.log("QRCode data url: ", dataurl);
        container.src = dataurl;

        // container.innerHTML = "";
        // qrcode.append(container);

    }

    function GetStyledQRCode(qr) {

        const qrCode = new QRCodeStyling({
            width: 300,
            height: 300,
            data: qr,
            image: "/public/icons/logo-ico-rvb.svg",
            dotsOptions: {
                color: "#0066ff",
                type: "rounded",
            },
            imageOptions: {
                crossOrigin: "anonymous",
                width: 60,
                height: 60
            }
        });

        return qrCode;
    }

</script>

<script>
    const canvas = document.getElementById("qrcodecanvas");
    const img = document.getElementById("qrcodeimg");
    const div = document.getElementById("qrcodediv");

    const socket = io();
    socket.on("connect", function () {
        console.log("Connected to server");
    });

    socket.emit("getqrcode");

    socket.on("new-qr-code", function (data) {
        const qr = data.qr;
        console.log("Received qr: ", qr);

        UpdateQRCode(data.qr, img);
    });

</script>