<%- include("partials/__header", { pagename, title }) %>

<div class="container">

    <% if(pagename){%>
        <%- include("Pages/" + pagename) %>
    <% } else { %>
        <% include("Pages/homepage") %>
    <% } %>
    
    <%- include("Components/Footer") %>

</div>

<%- include("Partials/__footer") %>