<footer class="footer">
    <div class="wrapper">
        <a class="footer-logo" href="/"><img src="/public/icons/logo-comp-grey.svg" alt="logo whatsapp manager app"></a>
        <small>copyright avril 2025</small>
    </div>
</footer>