<header class="header">
    <div class="wrapper">
        <a href="/" class="logo">
            <img src="/public/icons/logo-comp-rvb.svg" alt="logo composition whatsapp manager app"
                class="header-logo-comp" id="header-logo-comp">
            <img src="/public/icons/logo-ico-rvb.svg" alt="logo composition whatsapp manager app"
                class="header-logo-ico" id="header-logo-ico">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="one">One</a></li>
                <li><a href="two">Two</a></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        <a href="/whatsapp" class="cta"><button class="btn cta">Connect Whatsapp</button></a>
    </div>
</header>